__pycache__/
*.py[cod]
*.db
*.log

node_modules/
dist/

.git/
.gitignore
.gitattributes

.env
.env.*

*.md
README.*

.venv/
venv/

backend/tests/
frontend/tests/

desktop/

.github/
.vscode/
.idea/

*.tmp
*.bak
